

h1 {
    text-align: center;
}

.carousel {
    position: relative;
    width: 640px;
    height: 400px;
    overflow: hidden;
    background-color: black;
    margin: auto;
 }
 
 .carousel ul {
    width: 400%;
    height: 400px;
    padding:0; margin:0;
    list-style: none;
 }

 .carousel li {
    float: left;
 }



#prev {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 45%;
    left: 30px;
}

#next {
    text-decoration: none;
    color: white;
    position: absolute;
    top: 45%;
    right: 30px;
}


